{% extends 'base.html' %}

{% block title %}Delete Task{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <h4><a href="{%url 'todo:task-list' %}">&lt; go back</a></h4>
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title mb-4 text-center">Create a New Post</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p> Are you sure you want to delete "{{object}}" task ? </p>
                        {{form.as_p}}

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary w-100">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}